**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.git
**/.gitignore
**/Thumbs.db
**/.DS_Store
**/docker-compose*.yml
**/Dockerfile*
**/*.user
**/*.suo
**/*.sln.docstates
**/TestResults
**/.dockerignore
